* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
}

.left-column {
  background-color: #F7F7F7;
  width: 100%;
}

.number-title,
.main-title {
  background-color: #404041;
  color: #DD1972;
  padding: 12px;
  text-align: center;
}

.number-title {
  font-size: 70px;
  font-weight: 700;
}

.guesser-title {
  font-size: 70px;
  font-weight: 300;
}

.subtitle {
  color: #FFF;
  font-size: 22px;
  padding-bottom: 15px;
}

.ultimate-subtitle-container {
  display: flex;
  justify-content: center;
}

.title-line-decoration {
  border-bottom: 2px solid #FFF;
  margin: 0px 15px 28px 15px;
  width: 122px;
}

h3 {
  color: #6E6E6E;
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 5px;
}

p {
  color: #6E6E6E;
}

#min-range,
#max-range {
  height: 35px;
  margin-right: 15px;
  width: 200px;
}

.pink-border {
  border: 2px solid #DD1972;
}

img {
  width: 15px;
}

.set-range {
  background-color: #FFF;
  border: 1px solid #D0D2D3;
  margin: 20px;
  padding: 20px;
}

.range-fieldset {
  border: none;
  display: inline-block;
}

.range-fieldset p {
  font-size: 24px;
  margin-bottom: 3px;
}

.challenger {
  background-color: #FFF;
  border: 1px solid #D0D2D3;
  margin: 20px;
  padding: 20px;
}

.current-range {
  font-size: 24px;
  margin-bottom: 20px;
}

.bold-min-value,
.bold-max-value {
  font-weight: bold;
  text-decoration: underline;
}

.challenger-fieldset {
  border: none;
  display: inline-block;
}

.challenger-fieldset p {
  font-size: 24px;
  margin-bottom: 3px;
}

#name-1,
#name-2 {
  height: 35px;
  width: 420px;
}

#name-1-guess,
#name-2-guess {
  height: 35px;
  margin-left: 15px;
  width: 225px;
}

/* --  Buttons -- */

#update {
  border-radius: 100px;
  background-color: #6E6E6E;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  margin-left: 15px;
  width: 175px;
}

.challenger-buttons {
  margin-bottom: -9px;
  margin-top: 35px;
}

#submit-guess,
#reset-game,
#clear-game {
  background-color: #6E6E6E;
  border-radius: 100px;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  margin: 3px;
  width: 215px;
}

#clear-game:disabled {
  background-color: #D0D2D3;
}

#reset-game:disabled {
  background-color: #D0D2D3;
}

.latest-score {
  background-color: #FFF;
  border: 1px solid #D0D2D3;
  margin: 20px;
  padding: 20px;
}

.latest-score-1-name,
.latest-score-2-name {
  color: #6E6E6E;
  font-size: 24px;
}

.challenger-1-container,
.challenger-2-container {
  display: inline-block;
  text-align: center;
}

.latest-score-container {
  display: flex;
  justify-content: space-around;
}

#latest-score-num-1,
#latest-score-num-2 {
  color: #F74D9B;
  font-size: 100px;
  font-weight: 700;
}

#vl {
  border-left: 2px solid #D0D2D3;
  display: inline-block;
  height: 225px;
}

.current-guess {
  font-size: 22px;
  font-weight: lighter;
}

.challenger-1-feedback,
.challenger-2-feedback {
  font-size: 28px;
  font-weight: lighter;
}

.right-column {
  background-color: #D1D2D4;
  border-left: 2px solid #B4B4B4;
  text-align: center;
  width: 100%;
}

.winner-card {
  background-color: #FFF;
  border: 2px solid #B4B4B4;
  margin: 20px;
  padding: 20px;
}

.challenger-card-names {
  display: flex;
  justify-content: space-around;
}

.chall-one-name,
.chall-two-name {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}

.large-display-name {
  font-size: 40px;
  margin-bottom: 5px;
  margin-top: 25px;
}

.winner-text {
  font-size: 35px;
  font-weight: lighter;
  margin-bottom: 20px;
}

.card-footer {
  color: #6E6E6E;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.time-taken-display,
.number-of-guesses {
  font-weight: bold;
}

.minutes-text,
.guesses-text {
  font-weight: lighter;
}

.minutes-container,
.guesses-container {
  font-size: 20px;
}

.delete-icon {
  font-size: 20px;
  margin-left: 262px;
}

/* -- Media Queries -- */

@media screen and (min-width: 1129px) {
  #name-1-guess,
  #name-2-guess {
    margin-left: -1px;
  }
}

@media screen and (max-width: 1129px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }

  #min-range,
  #max-range {
    margin: 10px;
  }
}

@media screen and (max-width: 750px) {
  #name-1,
  #name-2 {
    width: 525px;
  }

  #name-1-guess,
  #name-2-guess {
    margin-left: -1px;
    width: 525px;
  }

  #submit-guess,
  #reset-game,
  #clear-game {
    margin-top: 10px;
    width: 525px;
  }
}

@media screen and (max-width: 610px) {
  #name-1,
  #name-2 {
    width: 200px;
  }

  #name-1-guess,
  #name-2-guess {
    margin-left: -1px;
    width: 200px;
  }

  #submit-guess,
  #reset-game,
  #clear-game {
    margin-top: 10px;
    width: 200px;
}

  #min-range,
  #max-range {
    margin-top: 10px;
    width: 200px;
  }

  .number-title,
  .guesser-title {
    font-size: 60px;
  }

  .latest-score-container {
    display: flex;
    flex-direction: column;
  }

  #vl {
    display: none;
  }

  h3 {
    text-align: center;
  }

  .delete-icon {
    margin-left: 0px;
    }

  .card-footer {
  display: flex;
  flex-direction: column;
    }

  .main-title,
  .number-title {
    padding: 5px;
  }
}




